/*--QMainWindow/self--*/
QMainWindow{
	color: rgb(0,25,61);
	background-color:#00193d;
}
/*###################### I'm separator :) ######################*/
/*--tabWidget--*/
background-color: rgb(2,48,87);
border-color: rgb(16, 20, 20);
/*###################### I'm separator :) ######################*/
/*--ACCOUNTS LIST--*/
QListWidget{color: White;}
/*###################### I'm separator :) ######################*/
cyan,black
/*###################### I'm separator :) ######################*/
/*--SHOW QR BUTTON STYLE--*/
QPushButton{
	color: white;
	font: 87 15pt "Arial Black";
	background-color: rgb(5,99,166);
	border-radius: 7px;
	border: 1px solid #0563a6;
} QPushButton:hover {
	background:linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
	background-color:#4cac7e;
} QPushButton:active {
	position:relative;
	top:2px;
}
/*###################### I'm separator :) ######################*/
/*--COPY PASSWORD BUTTON--*/
QPushButton {
	color: white;
font: 87 15pt "Arial Black";
	background-color: rgb(5,99,166);
	border-radius:7px;
	border:1px solid #0563a6;
}
QPushButton:hover {
	background:linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
	background-color:#4cac7e;
}
QPushButton:active {
	position:relative;
	top:2px;
}
/*###################### I'm separator :) ######################*/
/*INPUT FIELDS EDIT FIELDS*/
QLineEdit{
	border-radius:7px;
	border:1px solid #0563a6;
	color:#F2DF3A;
	font: 87 14pt "Cascadia Code";
}
/*###################### I'm separator :) ######################*/
/*--SELECT/UPDATE/ADD ACCOUNT button--*/
QPushButton {
	color: white;
	font: 87 15pt "Arial Black";
	background-color: rgb(5,99,166);
	border-radius:7px;
	border:1px solid #0563a6;
}QPushButton:hover {
	background:linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
	background-color:#4cac7e;
}QPushButton:active {
	position:relative;
	top:2px;
}
/*###################### I'm separator :) ######################*/
/*SHOW PASSWORD BUTTON*/
QPushButton{
	color: white;
	border-radius:7px;
	border:1px solid #0563a6;
}
/*###################### I'm separator :) ######################*/
/*DELETE BUTTON*/
QPushButton{
	color: #f85146;
	font: 87 15pt "Arial Black";
	background-color: #ffffff;
	border-radius:7px;
	border:1px solid #f85146;
}QPushButton:hover {
	background:linear-gradient(to bottom, #ffffff 5%, #ffffff 100%);
	background-color:#f85146;
	color: #ffffff;
}QPushButton:active {
	position:relative;
	top:2px;
}
/*###################### I'm separator :) ######################*/
/*LABELS STYLE*/
QLabel{
color: white;
}
/*###################### I'm separator :) ######################*/
/*GROUPBOX STYLE*/
QGroupBox{
	color: white;
}
/*###################### I'm separator :) ######################*/
/*EDIT ACCOUNTS LIST STYLE*/
QListWidget{
color: white;
}
/*###################### I'm separator :) ######################*/
/*EDIT HEADERS{GROUPBOX} STYLE*/
QGroupBox{
	color: "white";
	font-size: 30px;
	border-style: none;
}
/*###################### I'm separator :) ######################*/
/*LABELS STYLE*/
QLabel{
	color: "white";
}
/*###################### I'm separator :) ######################*/
/* text field "Enter path"*/
QtLineEdit{
	border-radius:7px;
	border:1px solid #0563a6;
	color: "gray";
	font-size: 20px;
}
/*###################### I'm separator :) ######################*/
/*Import/EXPORT button*/
QPushButton {
    color: white;
font: 87 15pt "Arial Black";
    background-color: rgb(5,99,166);
    border-radius:7px;
    border:1px solid #0563a6;
}
QPushButton:hover {
    background:linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
    background-color:#4cac7e;
}
QPushButton:active {
    position:relative;
    top:2px;
}
/*###################### I'm separator :) ######################*/
Final-message{
    text-justify: "Hello world";
}